.nav-item{
    margin-left: 30px;
    font-size:20px;
    font-weight: 500;
}
.Navbar_logo{
    height: 90px;
}
.nav-item .nav-link{
    color:black;
}
.logo{
    height: 100px;
}
.cart{
    height: 30px;
}